header { background-color: #F03; height: 60px; position:fixed; top: 0; left: 0; width:100%; opacity: 0.8; z-index:100;}
header nav ul { list-style: none; margin: 0;}
header nav .cv { font-family:Arial, Helvetica, sans-serif ; font-size:32px; color:#000; font-style:italic; float:left; margin-left: 40px; margin-top: 12px;}
header nav ul li { display: inline-block; height: 60px; float: right;}
header nav ul li a { margin-top: 20px; margin-right: 40px; display: inline-block; color: #000; font-size:20px;}
header nav ul li a:hover { color:#FFF; border-bottom: 3px solid #FFF; -webkit-transition:0.5s; transition: 0.5s; transition-timing-function: ease;}

.cb-slideshow, .cb-slideshow:after { position: absolute; width:100%; height:100%; top: 0px; left: 0px; z-index: 0; background-color:#131313; }
.cb-slideshow li span { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; color: transparent;background-size: cover; 
    background-repeat: none; opacity: 0; z-index: 0; -webkit-backface-visibility: hidden; -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s; -o-animation: imageAnimation 36s linear infinite 0s; -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s; }
.cb-slideshow li div { z-index: 1000; position: absolute; bottom: 30px; left: 0px; width: 100%; text-align: center; opacity: 0; color: #fff;
    -webkit-animation: titleAnimation 36s linear infinite 0s; -moz-animation: titleAnimation 36s linear infinite 0s; -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s; animation: titleAnimation 36s linear infinite 0s; }
.cb-slideshow li div h3 { font-family: 'Open Sans'; font-size: 70px; padding-left: 20px; padding-bottom:70px; line-height: 70px; color:#F03;}
.cb-slideshow li div h4 { font-family: "华文行楷"; font-size: 24px;color:#FFF;}
.cb-slideshow h3,.cb-slideshow h4{ margin-bottom: 15%; }
.cb-slideshow li:nth-child(1) span { background-image: url(../images/bg1.jpg); }
.cb-slideshow li:nth-child(2) span { background-image: url(../images/bg2.jpg); -webkit-animation-delay: 6s; -moz-animation-delay: 6s; -o-animation-delay: 6s; -ms-animation-delay: 6s; animation-delay: 6s; }
.cb-slideshow li:nth-child(3) span { background-image: url(../images/bg3.jpg); -webkit-animation-delay: 12s; -moz-animation-delay: 12s; -o-animation-delay: 12s; -ms-animation-delay: 12s; animation-delay: 12s; }
.cb-slideshow li:nth-child(4) span { background-image: url(../images/bg4.jpg); -webkit-animation-delay: 18s; -moz-animation-delay: 18s; -o-animation-delay: 18s; -ms-animation-delay: 18s; animation-delay: 18s; }
.cb-slideshow li:nth-child(5) span { background-image: url(../images/bg5.jpg); -webkit-animation-delay: 24s; -moz-animation-delay: 24s; -o-animation-delay: 24s; -ms-animation-delay: 24s; animation-delay: 24s; }
.cb-slideshow li:nth-child(6) span { background-image: url(../images/bg6.jpg); -webkit-animation-delay: 30s; -moz-animation-delay: 30s; -o-animation-delay: 30s; -ms-animation-delay: 30s; animation-delay: 30s; }
.cb-slideshow li:nth-child(2) div { -webkit-animation-delay: 6s; -moz-animation-delay: 6s; -o-animation-delay: 6s; -ms-animation-delay: 6s; animation-delay: 6s; }
.cb-slideshow li:nth-child(3) div { -webkit-animation-delay: 12s; -moz-animation-delay: 12s; -o-animation-delay: 12s; -ms-animation-delay: 12s; animation-delay: 12s; }
.cb-slideshow li:nth-child(4) div { -webkit-animation-delay: 18s; -moz-animation-delay: 18s; -o-animation-delay: 18s; -ms-animation-delay: 18s; animation-delay: 18s; }
.cb-slideshow li:nth-child(5) div { -webkit-animation-delay: 24s; -moz-animation-delay: 24s; -o-animation-delay: 24s; -ms-animation-delay: 24s; animation-delay: 24s; }
.cb-slideshow li:nth-child(6) div { -webkit-animation-delay: 30s; -moz-animation-delay: 30s; -o-animation-delay: 30s; -ms-animation-delay: 30s; animation-delay: 30s; }

/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 0% { opacity: 0; -webkit-animation-timing-function: ease-in; } 8% { opacity: 1; -webkit-animation-timing-function: ease-out; } 17% { opacity: 1 } 25% { opacity: 0 } 100% { opacity: 0 } }
@-moz-keyframes imageAnimation { 0% { opacity: 0;  -moz-animation-timing-function: ease-in; } 8% { opacity: 1; -moz-animation-timing-function: ease-out; } 17% { opacity: 1 } 25% { opacity: 0 } 100% { opacity: 0 } }
@-o-keyframes imageAnimation { 0% { opacity: 0; -o-animation-timing-function: ease-in; } 8% { opacity: 1; -o-animation-timing-function: ease-out; } 17% { opacity: 1 } 25% { opacity: 0 } 100% { opacity: 0 } }
@-ms-keyframes imageAnimation { 0% { opacity: 0; -ms-animation-timing-function: ease-in; } 8% { opacity: 1; -ms-animation-timing-function: ease-out; } 17% { opacity: 1 } 25% { opacity: 0 } 100% { opacity: 0 } }
@keyframes imageAnimation { 0% { opacity: 0; animation-timing-function: ease-in; } 8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 } 25% { opacity: 0 } 100% { opacity: 0 } }
/* Animation for the title */
@-webkit-keyframes titleAnimation { 0% { opacity: 0 } 8% { opacity: 1 } 17% { opacity: 1 } 19% { opacity: 0 } 100% { opacity: 0 } }
@-moz-keyframes titleAnimation { 0% { opacity: 0 } 8% { opacity: 1 } 17% { opacity: 1 } 19% { opacity: 0 } 100% { opacity: 0 } }
@-o-keyframes titleAnimation { 0% { opacity: 0 } 8% { opacity: 1 } 17% { opacity: 1 } 19% { opacity: 0 } 100% { opacity: 0 } }
@-ms-keyframes titleAnimation { 0% { opacity: 0 } 8% { opacity: 1 } 17% { opacity: 1 } 19% { opacity: 0 } 100% { opacity: 0 } }
@keyframes titleAnimation { 0% { opacity: 0 } 8% { opacity: 1 } 17% { opacity: 1 } 19% { opacity: 0 } 100% { opacity: 0 } }

.intro-scroller { position: absolute; left: 0px; text-align: center; z-index: 9999;width: 100%; bottom:20px; }
.mouse-icon { border: 2px solid; border-radius: 15px; bottom: 70px; height: 50px; left: 0; margin: 0 auto; position: absolute; right: 0; width: 27px; cursor: pointer; -webkit-transition: all .3s linear; -moz-transition: all .3s linear; -ms-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear; }
.mouse-icon:hover {opacity: 0.3 !important;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;}
.mouse-icon .wheel { border-radius: 30%; background: #fff; height: 12px; left: 0; margin-left: auto; margin-right: auto;margin-top: 6px; right: 0; width: 5px;-webkit-animation: 1.7s ease 0s normal none infinite magic-mouse-icon; -moz-animation: 1.7s ease 0s normal none infinite magic-mouse-icon; -o-animation: 1.7s ease 0s normal none infinite magic-mouse-icon; animation: 1.7s ease 0s normal none infinite magic-mouse-icon;  }
a.inner-link { color: #fff; text-decoration: none; }
.cb-slideshow li span{ filter: brightness(40%); -webkit-filter: brightness(40%); -moz-filter: brightness(40%); -o-filter: brightness(40%); -ms-filter: brightness(40%); }
@-moz-keyframes magic-mouse-icon { 0% { margin-top: 6px; opacity: 0;} 30% { opacity: 1;} 100% { margin-top: 18px; opacity: 0;} }
@-webkit-keyframes magic-mouse-icon { 0% { margin-top: 6px; opacity: 0;} 30% { opacity: 1;} 100% { margin-top: 18px; opacity: 0;} }
@-o-keyframes magic-mouse-icon { 0% { margin-top: 6px; opacity: 0;} 30%  { opacity: 1;} 100% { margin-top: 18px; opacity: 0;} }
@keyframes magic-mouse-icon { 0%   { margin-top: 6px; opacity: 0;} 30%  { opacity: 1;} 100% { margin-top: 18px; opacity: 0;} }

html, body { height: 100%; }
#home { height: 100%; }
#about { width: 100%; text-align:center; padding: 60px 0;}
#about h2 { font: 28px/1.5 'Helvetica Neue',Helvetica,Arial,sans-serif; color:#F03; }
.Ian { padding: 8px 0;}
.about_info1 { width: 600px; height:40px; border-bottom: 2px solid #036; line-height:40px; margin: 15px auto;font: bold 16px/1em "微软雅黑"; color: #036;}
.about_info2, .about_info3, .about_info4, .about_info5, .about_info6 { margin-top: 12px; text-align:center; font: bold 18px/2em  "楷体"; color: #066; }

 #skills { width: 100%; background-color: #eb2352; }
.container_skills { text-align: center; }
.skills_title { font-size: 28px; color: #FFF; padding: 60px 0; }
.blo {  display: inline-block; color: #FFF; text-align: center;margin: 0 50px 50px 50px;}
.img_skills { width: 150px; height: 150px; color:transparent; border: 1px solid #FFF; border-radius: 50%; display: block; margin: 0 auto;}
.blo > h3 { font-size: 20px; padding: 25px 0; }
.image1:before { content: url(../images/h5-logo.png); }
.image2:before { content: url(../images/css3-logo.png); }
.image3:before { content: url(../images/js-logo.png); }
.image4:before { content: url(../images/jq-logo.png); }
.skill_list { line-height: 25px; font: 16px/2em "楷体"; }

#exp { width: 100%; text-align: center; padding: 60px 0; }
#exp h2 { font: 28px/1.5 'Helvetica Neue',Helvetica,Arial,sans-serif; color:#F03; padding-top: 60px;}
#exp h3 { font: 22px/1.5 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #066; margin: 20px auto; border-bottom: 3px solid #066;}
.exp1_title { width: 90px; }
.exp2_title { width: 270px; }
.exp3 { width: 800px;margin: 0 auto; font: 17px/1.5em "微软雅黑"; padding: 20px 0 60px; }
.work{ width: 800px; height: 230px; margin: 0 auto;}
.work_content { font: 17px/1.5em "微软雅黑"; float: left; width: 500px; text-align: left; text-indent: 32px;}
.exp_img { float: left; margin-right: 50px; }

#contact { width: 100%; background-color: #000; height: 350px;}
.con_title { font: 28px/1.5 'Helvetica Neue',Helvetica,Arial,sans-serif; color:#F03; padding-top: 60px; text-align: center;}
.con_container { width: 800px; margin: 0 auto;}
.con { width: 262px; margin: 30px 50px; padding: 8px 0px 8px 38px; float: left; color: #FFF; font: 16px/1em 'Helvetica Neue',Helvetica,Arial,sans-serif; border-bottom: 2px solid #FFF;}
.location {  background: url(../images/定位.png) no-repeat left center; }
.tel {  background: url(../images/手机.png) no-repeat left center; }
.email {  background: url(../images/邮件.png) no-repeat left center; }
.github { background: url(../images/github.png) no-repeat left center; color: #FFF;}